<li>
  <strong><%= comment.user.username %></strong>: <%= comment.content %><%= tag(:br) %>
  <strong>Posted At:</strong><%= comment.created_at %><%= tag(:br) %>
  <%= display_comment_controls(comment) %>
  <%= display_comment_status(comment) %><%= tag(:br) %>
</li>
