<h1>Listing Overview</h1>

<p><%= @listing.location.full_location_name %></p>

<h3><%= @listing.title %></h3>

<% @listing.listing_images.each do |image| %>
  <%= image_tag(image.image_url) %>
<% end %>

<h3>Description:</h4>
<p><%= @listing.description %></p>

<p><strong>Price:</strong> <%= number_to_currency(@listing.price) %></p>

<p><strong>Posted By:</strong> <%= @listing.user.username %></p>

<p><strong>Category:</strong> <%= @listing.category.name %></p>
<p><strong>Tags:</strong> <%= @listing.tags.collect{|tag| tag.name}.join(", ") %></p>


<%= delete_edit_listing_links(@listing) %>
