<%= delete_edit_listing_links(@listing) %>

<h2 class="heading-text"><%= @listing.title %></h2>
<text><%= full_location_name(@listing.location) %></text><br>

<div class="carousel">

 <div class="carousel slide" id = "listingCarousel" data-ride="carousel">

   <div class="carousel-inner">
     <% @listing.listing_images.each do |image| %>
        <%= content_tag :div, :class => "#{image_carousel_class_tag(@listing, image)}" do %>
            <%= image_tag image.image_url, :class => 'd-block img-fluid' %>
        <% end %>
    <% end %>
  </div>

  <div class="carousel-controls">
    <a class="carousel-control-prev" href="#listingCarousel" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>

   <a class="carousel-control-next" href="#listingCarousel" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
  </div>

 </div>

</div>


<h3 class="heading-text">Description:</h3>
<p><%= @listing.description %></p>

<span><strong>Price:</strong> <%= number_to_currency(@listing.price) %></span><br>
<span><strong>Category:</strong> <%= @listing.category.name %></span><br>
<span><strong>Tags:</strong> <%= @listing.tags.collect{|tag| tag.name}.join(", ") %></span><br>
<span><strong>Posted By:</strong> <%= @listing.user.username %></span><br>

<h3 class="heading-text">Comments:</h3>

<%= display_listing_comments(@listing.comments) %>

<% if logged_in? %>
  <h5 class="heading-text">Leave A Question About The Item:</h5>
  <%= render partial: 'listings/comment_form', locals: {listing: @listing, comment: @comment} %>
<% end %>
