<%= tag.h2(@listing.title, :class => 'heading-text') %>
<%= tag.text(full_location_name(@listing.location)) %> <%= tag(:br) %>

<%= content_tag(:div, :class => "carousel img-responsive") do %>
  <%= content_tag(:div, :class => "carousel slide", :id => "listingCarousel", :'data-ride' => 'carousel') do %>
    <%= content_tag(:div, :class => "carousel-inner") do %>
       <% @listing.listing_images.each do |image| %>
          <%= content_tag :div, :class => "#{image_carousel_class_tag(@listing, image)}" do %>
              <%= image_tag image.image_url, :class => "#{carousel_image_class_tag(image)}"%>
          <% end %>
      <% end %>
    <% end %>
    <%= content_tag(:div, :class => "carousel-controls") do %>
      <a class="carousel-control-prev" href="#listingCarousel" role="button" data-slide="prev">
         <%= tag.span("", :class => 'carousel-control-prev-icon', :'aria-hidden' => 'true') %>
         <%= tag.span('Previous', :class => 'sr-only') %>
      </a>
       <a class="carousel-control-next" href="#listingCarousel" role="button" data-slide="next">
         <%= tag.span("", :class => 'carousel-control-next-icon', :'aria-hidden' => 'true') %>
         <%= tag.span('Next', :class => 'sr-only') %>
       </a>
    <% end %>
  <% end %>
<% end %>

<%= tag.h3('Description:', class: 'heading-text') %>
<%= tag.p(@listing.description) %>

<%= tag.strong('Price:') %> <%= tag.text(number_to_currency(@listing.price)) %> <%= tag(:br) %>
<%= tag.strong('Category:') %> <%= tag.text(@listing.category.name) %> <%= tag(:br) %>
<%= tag.strong('Tags:') %> <%= tag.text(@listing.tags.collect{|tag| tag.name}.join(", ")) %><%= tag(:br) %>
<%= tag.strong('Posted By:') %> <%= tag.text(@listing.user.username) %><%= tag(:br) %>

<%= mail_to @listing.user.email, 'Contact Seller', html_options = {class: 'btn btn-outline-primary btn-block'} %>
<%= delete_edit_listing_links(@listing) %>

<%= tag.h3('Comments:', class: 'heading-text') %>
<%= display_listing_comments(@listing.comments) %>
<%= comment_form(@listing, @comment) %>
