<h1>Listing Overview</h1>

<p><%= full_location_name(@listing.location) %></p>
<h3><%= @listing.title %></h3>

<% @listing.listing_images.each do |image| %>
  <%= image_tag(image.image_url, :class => 'listing-image') %>
<% end %>

<h3>Description:</h4>
<%= @listing.description %><br>
<strong>Price:</strong> <%= number_to_currency(@listing.price) %><br>
<strong>Posted By:</strong> <%= @listing.user.username %><br>
<strong>Category:</strong> <%= @listing.category.name %><br>
<strong>Tags:</strong> <%= @listing.tags.collect{|tag| tag.name}.join(", ") %><br>

<%= delete_edit_listing_links(@listing) %>

<h3>Comments:</h3>
<%= display_listing_comments(@listing.comments) %>

<% if logged_in? %>
  <h5>Leave A Question About The Item:</h5>
  <%= render partial: 'listings/comment_form', locals: {listing: @listing, comment: @comment} %>
<% end %>
