<h1>Welcome <%= @user.username %>!</h1>

<%= image_tag @user.profile_image_url %>

<%= div_for(@user) do %>
  <strong>Email:</strong> <%= @user.email %><br>
  <strong>Username:</strong> <%= @user.username %><br>
<% end %>

<h3>Your Listings:</h3>

<%= div_for(@user.listings) do |listing| %>
  <%= link_to listing.overview, location_listing_path(listing.location, listing.id) %>
<% end %>

<h3>Account Settings:</h3>

<%= link_to "Edit Profile", edit_user_path, :class => 'btn btn-warning' %>
<%= link_to "Delete Account", user_path(@user.id), :method => :delete, :class => 'btn btn-danger'%>

<%= display_admin_profile_tools(@user) %>
