<%= form_tag "/search" do %>
  <h5 class="subtext">
    I'm looking for &nbsp;&nbsp;
    <%= select_tag 'category_selector', options_from_collection_for_select(@categories, 'id', :name), :include_blank => 'Everything', :class => "custom-select btn" %>
    &nbsp;&nbsp;in&nbsp;&nbsp;
    <%= select_tag 'location_selector', options_from_collection_for_select(@locations, 'id', :full_location_name), :class => "custom-select btn" %><%= tag(:br) %>
    <%= submit_tag "Show me what you've got.", :class => 'btn btn-outline-success btn-lg main_search_button' %>
  </h5>
<% end %>
