<form class="new-listing-comment" data-commentable-type="{{commentableType}}" data-commentable-id="{{commentableId}}" action="/comments" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="&#x2713;">
    <input type="hidden" name="authenticity_token" value="{{authToken}}" />
    <input value="{{commentableId}}" type="hidden" name="comment[commentable_id]" id="commentableId" />
    <input value="{{commentableType}}" type="hidden" name="comment[commentable_type]" id="commentableType" />
    <div class="form-group">
        <textarea class="form-control" id='commentContent' name="comment[content]" rows="6" placeholder="Ask a question..." ></textarea>
    </div>
    <input type="submit" name="commit" value="Create Comment" class="btn btn-outline-success btn-block" id="js-listing-comment-submit" />
</form>