<!-- Listing Comments Section -->
<div id="comment-{{id}}" class="border border-top-0 border-right-0 comment-border comment-box">
    <div class="media">
        <img src="{{ownerProfileImageUrl}}" alt="Profile Image" class="align-self-center mr-3 profile-image-small rounded-circle">
        <div class="media-body">
            <h6 class="mt-0">Posted on {{formattedDate}} by {{ownerUsername}}  <span class="text-muted" id="comment-{{id}}-reply-notification"></span></h6>
            <div class='comment-content'>
                {{content}}
            </div>
            {{#unless currentListingOwner}}
            <div class='comment-status'>
                <span>Status: {{status}}</span>
            </div>
            {{/unless}}
            <div id="comment-{{id}}-controls"></div>
        </div>
    </div>
</div>