<div class="card text-center listing-card text-centered" data-listing-id="{{id}}">
    <img class="mx-auto d-block card-img-top listing-card-img img-responsive" src="{{primaryImage}}"
        alt="Listing Image" />
    <div class="card-body">
        <h5 class="card-title listing-title-text">{{title}}</h5>
        <span>{{formattedPrice}}</span>
    </div>
    <div class="card-footer listing-footer" id="listing-{{id}}-footer">
        <a class="btn btn-outline-success" href="/locations/{{locationSlug}}/listings/{{id}}">View Listing</a>
    </div>
</div>

