<h1><%= @location.full_location_name %></h1>

<h3>All Listings:</h3>

<%= content_tag(:ul) do %>
  <% @listings.each do |listing| %>
    <%= content_tag(:li, (link_to listing.overview, location_listing_path(@location, listing))) %>
  <% end %>
<% end %>


<%= link_to "Edit", edit_location_path(@location.id), :class => 'btn btn-warning'%>
<%= link_to "Delete Location", location_path(@location.id), :method => :delete, :class => 'btn btn-danger', :remote => 'true'%>
<%= render 'locations/manage_locations_button' %>
