<h1><%= full_location_name(@location) %></h1>

<h3 class="heading-text">All Listings:</h3>
  <%= render partial: 'listings/listings_list', locals: {listings: @listings} %>
</div>

<%= link_to "Edit Location", edit_location_path(@location.id), :class => 'btn btn-outline-warning btn-block'%>
<%= link_to "Delete Location", location_path(@location.id), :method => :delete, :class => 'btn btn-outline-danger btn-block', :remote => 'true'%>
<%= render 'shared/manage_locations_button' %>
