<!DOCTYPE html>
<html>
  <head>
    <meta name="current-page" content=<%= "#{controller_name} #{action_name}" %>>
    <title>List.me</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
  </head>
  <%= content_tag :body, :class => "#{controller_name} #{action_name}" do %>
    <%= render 'layouts/navbar' %>
    <%= content_tag :div, :class => 'container-fluid' do %>
      <%= content_tag :div, :class => 'container' do %>
          <%= content_tag :div, :class => "#{page_classes}"  do %>
            <%= render 'layouts/flash_notice' %>
            <%= yield %>
          <% end %>
      <% end %>
    <% end %>
    
  <% end %>
</html>
